.d-flex.copy-input-wrapper.align-items-center
    input.copy-input(v-model='link', type='text', data-autoselect='', readonly='')
    button(type='button', v-clipboard:copy='link', v-clipboard:success='onSuccess') copy